.send-tx-form {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;

  h2 {
    color: white;
    opacity: 1;
    font-size: 28px;
    text-align: center;
  }

  > div:nth-child(2) {
    width: 100%;

    span {
      word-break: break-word;
    }
  }

  > button {
    width: -webkit-fill-available;
    border: none;
    padding: 7px 15px;
    border-radius: 15px;
    background-color: #0098ea29;
    color: white;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;

    transition: transform 0.1s ease-in-out;

    &:hover {
      transform: scale(1.03);
      background-blend-mode: color-burn;
    }

    &:active {
      transform: scale(0.97);
    } 

    > span {
      text-align: center;
    }
  }

  .main-banner {
    border-radius: 50%;
  }

}
