.send-tx-form2 {


  > button {
    width: -webkit-fill-available;
    border: none;
    padding: 7px 15px;
    border-radius: 15px;
    background-color: #0098ea29;
    color: white;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    transition: transform 0.1s ease-in-out;
    &:active {
      transform: scale(1);
    }
  }

  .main-banner {
    border-radius: 50%;
  }

  .form-signin {
    width: -webkit-fill-available;
    border: none;
    padding: 7px 15px;
    border-radius: 15px;
    background-color: #0098ea29;
    color: white;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    transition: transform 0.1s ease-in-out;
  }

	.form-control {
    width: -webkit-fill-available;
    border: none;
    color: white;
    padding: 7px 15px;
    border-radius: 15px;
    mix-blend-mode: color-dodge;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    transition: transform 0.1s ease-in-out;
	}

  .text-star {
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
  }

}